<div class="container">
        <button class="btn btn-success"
                (click)="onAction('complete')"
                *ngIf="action !== 'complete'"
                [disabled]="done">Complete</button>
        <div class="btn btn-success"
             *ngIf="action === 'complete'">
                <i class="fas fa-check btn-alt animate-button text-center"></i>
        </div>
        <button class="btn btn-fail"
                (click)="onAction('fail')"
                *ngIf="action !== 'fail'"
                [disabled]="done">Failed</button>
        <div class="btn btn-fail"
             *ngIf="action === 'fail'">
                <i class="fas fa-times btn-alt animate-button text-center"></i>
        </div>
        <button class="btn btn-flat"
                (click)="onAction('cancel')">{{cancelText}}</button>
</div>
