<header class="action-bar">
       <h1 class="title">Monthly Challenges</h1>
       <nav>
              <ul>
                     <li><a routerLink="/challenges/today"
                               routerLinkActive="active">Today</a></li>
                     <li><a routerLink="/challenges/current-challenge"
                               routerLinkActive="active">Current</a></li>
                     <li><a routerLink="/challenges/replace"
                               routerLinkActive="active">Replace</a></li>
                     <li *ngIf="hasChallenge"><a routerLink="/challenges/edit"
                               routerLinkActive="active">Edit</a></li>
                     <li>
                            <button (click)="onLogout()">Logout</button>
                     </li>
              </ul>
       </nav>
</header>
